<!doctype html>
<html>
  <head>
    <title>Welcome to <%=shopData.shopName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Welcome to <%=shopData.shopName%></h1>
    <p><a href="about">About <%=shopData.shopName%></a></p>
    <p><a href="books/search">Search for books</a></p>
    <p><a href="users/register">Register with us</a></p>
    <p><a href="books/addbook">Add a book</a></p>
    <p><a href="books/list">List all current books</a></p>
    <p><a href="weather">Weather</a></p>
    <p><a href="users/login">Log in</a></p>
    <p><a href="logout">Log out of <%=shopData.shopName%></a></p>
  </body>
</html>
