<!doctype html>
<html>
  <head>
    <title><%=shopData.shopName%> - Book Search</title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Search for a book</h1>
    <form action="/api/books" method="get">
        <label for="book">Enter a book name:</label>
        <input type="text" id="search" name="search">
        <p></p>
        <label for="minprice">Minimum price:</label>
        <input type="number" id="minprice" name="minprice">
        <p></p>
        <label for="maxprice">Maximum price:</label>
        <input type="number" id="maxprice" name="maxprice">
        <p></p>
        <label for="sort">Sort by:</label>
        <select id="sort" name="sort">
            <option value="name">Name</option>
            <option value="price">Price</option>
        </select>
        <p></p>
        <button type="submit">Search</button>
    </form>
  </body>
</html>




